* {
    font-family: Roboto, sans-serif;
}

body {
    margin: 0;
}

.nav, .hero, .cards, .cta, .footer {
    padding-left: 100px;
    padding-right: 100px;
}

.nav {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}


.hero {
    background-color: #1F2937;
    display: flex; 
    justify-content: center;
    flex: 1;
    gap: 75px;
}

.hero-left, .image {
    width: 450px;
    margin-top: 75px;
    margin-bottom: 100px;
}

.image {
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: white;
}


.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    padding-bottom: 75px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    width: 150px;
    height: 150px;
    border: 3px solid #3882F6;
    border-radius: 12px;
}


.quote-box{
    background-color: #e5e7eb;
    padding-top: 75px;
    padding-bottom: 75px;
    padding-left: 20%;
    padding-right: 20%;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.attribution {
    font-size: 22px;
    text-align: right;
    font-weight: bold;
}

.cta {
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    justify-content: center;
}

.rectangle {
    background-color: #3882F6;
    border-radius: 12px;
    width: 90%;
    display: flex;
    justify-content: space-around;
    min-width: 750px;
    align-items: center;
}

button.border {
    border: 2px solid white;
}

h1 {
    color: #f9faf8;
    font-size: 24px;
    display: flex;
    flex-shrink: 0;
}

h2 {
    margin: 0;
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

h3 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
}

h4 {
    color: #e5e7eb;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.body {
    font-size: 18px
    margin: 0;
    padding: 0;
    font-weight: lighter;
}

.light {
    color: #e5e7eb;
    font-weight: lighter;
    margin-top: 10px;
    margin-bottom: 15px;
}

.dark {
    text-align: center;
    padding-top: 5px;
    color: #1f2937; 
}

 .cta {
    margin: 0;
}

.cta-text {
    padding-top: 30px;
    padding-bottom: 30px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    flex-shrink: 0;
    font-weight: lighter;   
}

button {
    background-color: #3882F6;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    color: #f9faf8;
    font-weight: 600;
    border-style: none;
    border-radius: 8px;
}

ul {
   display: flex;
   gap: 30px;
   margin: 0;
   padding: 0;
}

.footer {
    background-color: #1F2937;
    height: 75px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
